.notes-page {
  padding: 1rem;
  width: 100%;
}

.notes-page ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.notes-page li {
  padding: 0.5rem 1rem;
}

.create-note-section {
  display: flex;
  justify-content: center;
}

.create-note-section form {
  margin-bottom: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note {
  border: 2px solid grey;
  border-radius: 10px;
  color: var(--text-color-active);
  display: flex;
  flex-direction: column;
}

.note h2 {
  text-align: center;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid grey;
}
.note p {
  margin: 1rem 0;
  flex-grow: 1;
}
.note button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  color: white;
}
.note.NODE {
  border: 2px solid rgb(40, 233, 82);
}
.note.REACT {
  border: 2px solid rgb(72, 175, 235);
}

.note button.delete-button svg {
  width: 15px;
  height: 15px;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.REACT {
  background-color: rgb(72, 175, 235);
}

button.NODE {
  background-color: rgb(40, 233, 82);
}
