.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  margin-bottom: 1rem;
  background: rgb(47, 47, 50);
  background: linear-gradient(
    138deg,
    rgba(47, 47, 50, 0.8758096988795518) 0%,
    rgba(7, 7, 24, 1) 52%,
    rgba(14, 18, 19, 1) 100%
  );
  border: 2px solid rgba(238, 238, 238, 0.513);
  border-radius: 10px;
  padding: 3rem;
}
.form-control input {
  background-color: black;
  border: 1px solid grey;
  color: #ccc;
  text-align: center;
}
.form-control input:-webkit-autofill,
.form-control input:-webkit-autofill:hover,
.form-control input:-webkit-autofill:focus,
.form-control input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  transition: background-color black;
}
.form-control button {
  background-color: var(--app-bg-color);
}
.form-control button:hover {
  background-color: #ccc;
  color: black;
}
.form-control input:focus {
  box-shadow: 1px 1px 10px inset white;
  background-color: black;
}
